<%= form_with local: true do |f| %>
  <div class="col-md-6 form-group">
    <%= f.text_field :first_name, class: "form-control", placeholder: "first_name" %>
  </div>
  <div class="col-md-6 form-group">
    <%= f.text_field :last_name, class: "form-control", placeholder: "last_name" %>
  </div>
  <div class="col-md-6 form-group">
    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
  </div>
  <div class="col-md-6 form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="col-md-6">
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be at least 6 characters long.
    </small>
  </div>
  <div class="col-md-6 margin-top">
    <%= f.submit 'Register', class: 'btn btn-primary' %>
  </div>
<% end %>
